<div class="container">
    <br />
    <div class="alert alert-danger" role="alert" *ngIf='inValid'>
        {{inValidMessage}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf='addedUser$ | async'>
        Added Successfully
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>User name</mat-label>
                <input type="text" aria-label="Number" matInput [formControl]="username" [matAutocomplete]="userauto"
                    (keyup)="getUsers()">
                <mat-autocomplete #userauto="matAutocomplete">
                    <mat-option *ngFor="let user of users$ | async" [value]="user.name">
                        {{user.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="fill">
                <mat-label>Group Name</mat-label>
                <input type="text" aria-label="Number" matInput [formControl]="groupname" [matAutocomplete]="groupauto"
                    (keyup)="searchGroups()">
                <mat-autocomplete #groupauto="matAutocomplete">
                    <mat-option *ngFor="let group of groups$ | async" [value]="group.groupName">
                        {{group.groupName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <button mat-flat-button color="primary" (click)="add()">Add</button>
        </div>
    </div>
</div>